*pch
.vscode
*x64
*pch
Build/x64
.vs
.vscode/
Build/.cmake/
Build/.qt
Build/Build/
KeyboardColor GUI/build
**generic
**/iconengine
**/imageformat
**/networkinformation
CppKeyboardColour/x64
**/platforms
**/styles
**/CMakeFiles
*CKC.exe

